###
### Copy createdb.sql.example to createdb.sql
### then uncomment then set database name and username to create you need databases
#
# example: .env MYSQL_USER=appuser and need db name is myshop_db
#
#    CREATE DATABASE IF NOT EXISTS `myshop_db` ;
#    GRANT ALL ON `myshop_db`.* TO 'appuser'@'%' ;
#
###
### this sql script is auto run when mariadb container start and docker/mariadb not exists.
###
### if your docker/mariadb is exists and you do not want to delete it, you can run by manual execution:
###
###     docker-compose exec mariadb bash
###     mysql -u root -p < /entrypoint-initdb.d/createdb.sql
###

CREATE DATABASE IF NOT EXISTS `database_one` COLLATE 'utf8_general_ci' ;
GRANT ALL ON `database_one`.* TO 'default'@'%' ;

CREATE DATABASE IF NOT EXISTS `database_two` COLLATE 'utf8_general_ci' ;
GRANT ALL ON `database_two`.* TO 'default'@'%' ;

FLUSH PRIVILEGES;
